!!!
%html
  %head
    %title TacheLife
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600"}/
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600"}/
    %script{src: "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{id: "#{params[:controller]}_#{params[:action]}"}
    %header
      .artboard
        = image_tag 'logo.png', id: 'logo'
        .bubble
          = image_tag 'mock_avatar.jpg'
        %a.nav-item Help
        %a.nav-item Cart
        %a.nav-item Sell
        %a.nav-item Home
    = yield